<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>Number of records: {{ patientsList.length }}</h1>
      <div class="card m-3 shadow-sm" *ngFor="let patient of patientsList">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Patient Details</h5>
        </div>
        <div class="card-body">
          <p><strong>Name:</strong> {{ patient.patient_name }}</p>
          <p><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</p>
          <p><strong>Age:</strong> {{ patient.age }}</p>
          <p>
            <strong>Gender:</strong>
            {{ patient.gender === "M" ? "Male" : "Female" }}
          </p>
          <p><strong>Phone:</strong> {{ patient.phone }}</p>
          <p><strong>Email:</strong> {{ patient.email }}</p>
          <p><strong>Address:</strong> {{ patient.address }}</p>
          <p>
            <strong>Report:</strong>
            <a
              (click)="downloadReport(patient?.report)"
              style="cursor: pointer; color: blue; text-decoration: underline"
              >View Report</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-6"><add-patient></add-patient></div>
  </div>
</div>
